<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>牛股王</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <script type="text/javascript" src="../static/js/lrtk.js"></script>
    <script src="../static/js/jquery-1.11.1.min.js"></script>
    <script src="../static/js/jquery.searchableSelect.js"></script>
    <script src="../static/js/search.js"></script>
</head>
<body>
    <div class="top">
        <ul>
            <li>
                <a href="http://www.w3school.com.cn/tiy/t.asp?f=css_navbar_basic_html">个人主页</a>
                <ul class="drop">
                    <li><a href="#">我的持股</a></li>
                    <li><a href="#">退出登录</a></li>
                </ul>
            </li>
            <li><a href="green.html">股票列表</a></li>
        </ul>
    </div>
    <div id="div2">
        <p style="font-size:20px;color:azure;">优质股票——————————</p>
        <p style="font-size:12px;color:gray;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp我们精心为您挑选了当日的三十支低调奢华有内涵的优选股票，以搭配您高贵的气质，如果您不相信，请退出本页面，感谢您的配合。</p>
    </div>
    <div id="div1">
        <a href="http://quote.eastmoney.com/zs000001.html" target="_blank">上证指数</a>
        <a href="http://quote.eastmoney.com/zs399001.html" target="_blank">深成指数</a>
        <a href="http://quote.eastmoney.com/zs399006.html" target="_blank">创业指数</a>
        <a href="http://quote.eastmoney.com/zs399005.html" target="_blank">中小板指</a>
        <a href="http://quote.eastmoney.com/zs000300.html" target="_blank">沪深300</a>
        <a href="http://quote.eastmoney.com/zs000016.html" target="_blank">上证50</a>
        <a href="http://quote.eastmoney.com/zs000003.html" target="_blank">B股指数</a>
        <a href="http://quote.eastmoney.com/zs000002.html" target="_blank">A股指数</a>
        <a href="http://quote.eastmoney.com/zs399003.html" target="_blank">成份B指</a>
        <a href="http://quote.eastmoney.com/zs399106.html" target="_blank">深证综指</a>
        <a href="http://quote.eastmoney.com/zs000863.html" target="_blank">CS精准医</a>
        <a href="http://quote.eastmoney.com/zs000978.html" target="_blank">医药100</a>
        <a href="http://quote.eastmoney.com/zs000109.html" target="_blank">380医药</a>
        <a href="http://quote.eastmoney.com/zs000808.html" target="_blank">医药生物</a>
        <a href="http://quote.eastmoney.com/zs399993.html" target="_blank">CSWD生科</a>
        <a href="http://quote.eastmoney.com/zs399989.html" target="_blank">中证医疗</a>
        <a href="http://quote.eastmoney.com/zs399811.html" target="_blank">CSSW电子</a>
        <a href="http://quote.eastmoney.com/zs399296.html" target="_blank">创成长</a>
        <a href="http://quote.eastmoney.com/zs399418.html" target="_blank">国证国安</a>
        <a href="http://quote.eastmoney.com/zs399297.html" target="_blank">新浪100</a>
        <a href="http://quote.eastmoney.com/zs399357.html" target="_blank">环渤海</a>
        <a href="http://quote.eastmoney.com/zs000847.html" target="_blank">腾讯济安</a>
        <a href="http://quote.eastmoney.com/zs000008.html" target="_blank">综合指数</a>
        <a href="http://data.eastmoney.com/stockdata/002024.html" target="_blank">苏宁易购</a>
        <a href="http://data.eastmoney.com/stockdata/002230.html" target="_blank">科大讯飞</a>
        <a href="http://data.eastmoney.com/stockdata/300413.html" target="_blank">芒果超媒</a>
        <a href="http://data.eastmoney.com/stockdata/000338.html" target="_blank">潍柴动力</a>
        <a href="http://www.lanrentuku.com" target="_blank">白云机场</a>
    </div>
    <div class="selectbox">
        <select name="select" onchange="linkChange(this);">
            <option selected=selected>请选择一支股票</option>
            <option value="1">上证指数</option>
            <option value="2">深成指数</option>
            <option value="3">创业指数</option>
            <option value="4">中小板指</option>
            <option value="5">沪深300</option>
            <option value="6">上证50</option>
            <option value="7">B股指数</option>
        </select>
    </div>
    <script language="javascript">
        $(function () {
            $('select').searchableSelect();
        });

        function linkChange(selectObj) {
            var value = selectObj.options[selectObj.selectedIndex].value;
            if (value != "") {
                window.open(value, "", "")
            }
        }
  
    </script>
</body>
</html>