body{background:#333333;color:white
}

.box{
    width:400px;
    margin:150px auto;
}

button {
    background-color: lightgray;
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    margin-top: 10px;
}

button:hover{
    border:3px;
    border-color:white;
}

