<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <link rel="stylesheet" type="text/css" href="../static/css/register.css"/>
</head>
<body>
<div id="register_frame">

    <p id="image_logo"><img src="../static/images/logo.gif" height="200" width="200" alt="金祉攸最美丽"></p>

    <form method="post">

        <p><label class="label_input">用户名</label><label for="username"></label><input type="text" id="username" name="username" class="text_field"/></p>
        <p><label class="label_input">密码</label><label for="password"></label><input type="password" id="password" name="password" class="text_field"/></p>
        <p><label class="label_input">再次确认密码</label><label for="password2"></label><input type="password" id="password2" name="password2" class="text_field"/></p>
        <p><label class="label_input">邮箱</label><label for="email"></label><input type="text" id="email" name="email" class="text_field"/></p>
        <div id="register_control">
            <input type="submit" id="btn_register" value="注册">
        </div>
    </form>
</div>
</body>
</html>